#container{
    text-align: center;
}
#tasks{
    border:3px orange solid;
    
}
#detail{
    margin:2%;
    border:2px blue groove;
}
#create{
    border:2px greenyellow ridge ;
    margin: 2%;
}
ul li{
    list-style-type: none;
}